body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141E30, #243B55);
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.login-container {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  margin: auto;
  box-shadow: 0 0 20px #000;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background: #00c6ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
